<div class="flex justify-content-between pb-3 border-300 border-bottom-1">
    <div class="">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" placeholder="search" pInputText class="w-20rem"/>
        </span>
    </div>
    <div class="flex gap-2">
        <a pRipple class="p-3 cursor-pointer border-round text-600 font-medium hover:text-900 transition-duration-150 transition-colors">
            <i class="pi pi-inbox text-base text-2x1 mr-2" style="font-size: 1.5rem"></i>
        </a>
        <a pRipple class="p-3 cursor-pointer border-round text-600 font-medium hover:text-900 transition-duration-150 transition-colors">
            <i class="pi pi-bell text-base text-2x1 mr-2" style="font-size: 1.5rem"></i>
        </a>
        <a pRipple class="p-3 cursor-pointer border-round text-600 font-medium hover:text-900 transition-duration-150 transition-colors">
            <i class="pi pi-user text-base text-2x1 mr-2" style="font-size: 1.5rem"></i>
        </a>
    </div>
</div>