<p-image
  src="https://blocks.primeng.org/assets/images/blocks/logos/hyper-700.svg"
  alt="Image"
  width="150"
></p-image>
<div class="overflow-y-auto">
  <div class="overflow-y-auto">
    <ul class="list-none p-2 m-0">
      <li>
        <div class="p-3 text-500 font-medium">Assets</div>
      </li>
      <li>
        <a
          pRipple
          class="flex align-items-center cursor-pointer p-3 text-blue-500 hover:surface-100 border-round transition-colors transition-duration-150"
        >
          <i class="pi pi-home mr-2"></i>
          <span class="font-medium">รายการสินทรัพย์</span>
        </a>
      </li>
    </ul>
    <ul class="list-none p-2 m-0 border-top-1 surface-border">
      <li>
        <div class="p-3 text-500 font-medium">Customer</div>
      </li>
      <li>
        <a
          pRipple
          class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 border-round transition-colors transition-duration-150"
        >
          <i class="pi pi-home mr-2"></i>
          <span class="font-medium">รายการลูกค้าสนใจสินทรัพย์</span>
        </a>
      </li>
    </ul>
    <ul class="list-none p-2 m-0 border-top-1 surface-border">
      <li>
        <div class="p-3 text-500 font-medium">Admin Manage</div>
      </li>
      <li>
        <a
          pRipple
          class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 border-round transition-colors transition-duration-150"
        >
          <i class="pi pi-home mr-2"></i>
          <span class="font-medium">การจัดการแอดมิน</span>
        </a>
      </li>
      <li>
        <a
          pRipple
          class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 border-round transition-colors transition-duration-150"
        >
          <i class="pi pi-users mr-2"></i>
          <span class="font-medium">Setting</span>
        </a>
      </li>
    </ul>
  </div>
</div>
