<div class="flex px-3 gap-3">
  <div class="surface-card flex-auto p-4 border-round shadow-2">
    <div class="flex justify-content-between">
      <div class="text-2xl">Order</div>
      <div
        class="border-round w-3rem h-3rem m-2 bg-blue-200 flex align-items-center justify-content-center"
      >
        <i class="pi pi-shopping-cart" style="font-size: 1rem"></i>
      </div>
    </div>
    <div class="flex flex-row flex-wrap">
      <h3>152</h3>
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="color: green">24 new </span><span> since last visit</span>
    </div>
  </div>
  <div class="surface-card flex-auto p-4 border-round shadow-2">
    <div class="flex justify-content-between">
      <div class="text-2xl">Revenue</div>
      <div
        class="border-round w-3rem h-3rem m-2 bg-orange-100 flex align-items-center justify-content-center"
      >
        <i class="pi pi-map-marker" style="font-size: 1rem"></i>
      </div>
    </div>
    <div class="flex flex-row flex-wrap">
      <h3>$2.100</h3>
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="color: green">%52+</span><span>since last week</span>
    </div>
  </div>
  <div class="surface-card flex-auto p-4 border-round shadow-2">
    <div class="flex justify-content-between">
      <div class="text-2xl">Customers</div>
      <div
        class="border-round w-3rem h-3rem m-2 bg-teal-100 flex align-items-center justify-content-center"
      >
        <i class="pi pi-shopping-cart" style="font-size: 1rem"></i>
      </div>
    </div>
    <div class="flex flex-row flex-wrap">
      <h3>28441</h3>
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="color: green">520</span><span>newly registered</span>
    </div>
  </div>
  <div class="surface-card flex-auto p-4 border-round shadow-2">
    <div class="flex justify-content-between">
      <div class="text-2xl">Comments</div>
      <div
        class="border-round w-3rem h-3rem m-2 bg-purple-100	 flex align-items-center justify-content-center"
      >
        <i class="pi pi-shopping-cart" style="font-size: 1rem"></i>
      </div>
    </div>
    <div class="flex flex-row flex-wrap">
      <h3>152</h3>
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="color: green">85 </span><span>responded</span>
    </div>
  </div>
</div>
